/* Card Perfil */
.cabecalho-perfil{
    padding:20px;
    margin: 16px;
    
}
/* perfil */
.card- {
    /* APLICA O FILTRO */
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.3);

    border-radius:  30px;
    border-style: ridge;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    height: 70%;
    width: 50%;

    box-shadow: 
    /* inset -> sombra interna */
        inset 0px 20px 50px rgba(255, 255, 255, 0.5), 
        /* sombra externa */
        0 4px 4px rgba(0, 0, 0, 0.25); 

    display: flex;
    flex-direction: column;
    
}

/* campo-busca */

.campo-busca {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* background-color: var(--verde-acizenta); */
}

.campo-busca {
    /* esse elemento pode ocupar o espaço disponível dentro do container flex. */
    flex: 1;

    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    border: 1px solid #CCCCCC;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 10px;
    border-style: groove;
    background-color: var(--branco);

    display: flex;
    align-items: center;
    gap: 20px;
}

/* busca */

.area-busca{
    width: 80%;
    display: flex;
    align-items:center;
    padding-top: 15%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 1px;
    flex-direction: column;
    
}
.area-busca h2{
    text-align: center;
    padding-bottom: 2%;
}
.campo-busca input {
    flex: 1;
    height: 38px;
    width: 50%;

    border-style: none;
    outline: none;

    font-family: inherit;
    /* estamos dizendo para herdar a fonte do pai */
    font-size:1.2em;
    color: var(--texto);
}
