@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --preto: #07181D;
    --verde-escuro: #102F1A;
    --fundo-pagina: #18552C;
    --verde-claro: #43A663;
    --verde-agua: #58CF92;
    --verde-acizentado: #A3BEAE;
    --branco: #FFFFFF;
    --texto: #000000;
    --bordas: #aaaaaa4d;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo 2" sans-serif;
    background-color: var(--branco);
    color: var(--texto);
}
/* Página */
.pagina-perfil {
    display: grid;
    grid-template-columns: auto 1fr;
}




/* menu-lateral */
.menu-lateral{
     background-color: var(--verde-claro);

    height: 100vh;

    border-radius: 0 30px 30px 0;

    display: flex;
    flex-direction: column;

    padding: 30px 50px;
}






/* menu-navegação */
.menu-navegacao {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-menu {
    display: flex;
    align-items: center;

    gap: 20px;

    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
}

.item-menu i {
    width: 30px;
    font-size: 1.5em;
    
}

.item-menu:hover {
    color: var(--cor-destaque);
    padding-bottom: 10px;
    border-bottom: 4px solid var(--verde-claro);
}



/* Botao-sair */
.botao-sair {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: auto;
}




